

body {
  margin: 0;
  font-family: roboto, sans-serif;
  background-color: #fffdd0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 20px;
}

.buttons {
  display: flex;
  align-items: center;
}

.login {
  margin: 10px;
  padding: 10px;
  background-color: #436c76;
  color: white;
  border: 1px solid #436c76;
  border-radius: 5px;
  cursor: pointer;
  font: bold;
}

.register {
  margin: 10px;
  padding: 10px;
  background-color: white;
  font: bold;
  color: #436c76;
  border: 2px solid #436c76;
  border-radius: 5px;
  cursor: pointer;
}

.register:hover {
  background-color: #436c76;
  color: white;
}

.Logo {
  font-size: 20px;
  font-weight: bold;
  color: #436C76;
}

.carousel {
  position: relative;
  width: 100%;
  overflow: auto;
  padding: 30px;
}

.carousel-slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-slides img {
  width: 40%;
  flex-shrink: 0;
  padding: 10px;
  overflow: auto;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

#app {
  text-align: center;
  font-size: 25px;
}

h1 {
  text-align: center;
  margin-top: 40px;
  font-size: 40px;
  color: #436C76;
}

h2 {
  margin: 0;
  font-family: roboto, sans-serif;
  font-size: 25px;
}

img {
  width: 100%;
}

#article-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 20px;
  margin: 16px;
}

#article-container article {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
